header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 0 16px;
	height: var(--header-height);
	color: #000000;
	border-bottom: 1px solid #d3d6da;
}

/* 'Bungee' font used for title */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

#title {
	font-family: 'Bungee';
	font-weight: 700;
	font-size: 37px;
	line-height: 100%;
	letter-spacing: 0.01em;
	text-align: center;
	left: 0;
	right: 0;
	pointer-events: none;
}

ion-icon {
	font-size: 32px;
	cursor: pointer;
}

@media (max-width: 800px) {
	#title {
		font-size: 16px;
		letter-spacing: 0.5rem;
		padding: 0px 2rem;
	}
}

@media (max-width: 350px) {
	#title {
		font-size: 12px;
	}
}
