game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - var(--header-height));
  margin: 16px 0px;
  max-height: 600px;
  max-width: 850px;
  margin: auto;
}
