:root {
  --key-width: 15px;
  --key-height: 60px;
}

#keyboard-container {
  display: flex;
  justify-content: space-around;
}

#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  margin: auto 16px;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.regular-width {
  flex: 1;
  display: flex;
}

.double-width {
  flex: 2;
  display: flex;
}

.key {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  border: 0;
  padding: 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #d3d6da;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  margin: 3px;
}

.spacer {
  flex: 0.5;
  display: flex;
}

@keyframes Shake {
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }
  40%,
  60% {
    transform: translateX(4px);
  }
}

@media (max-width: 400px) {
  .key {
    font-size: 14px;
    font-size: small;
  }
}

@media (max-height: 550px) {
  .key {
    font-size: 14px;
    height: 45px;
  }
}

@media (max-height: 500px) {
  .key {
    font-size: 14px;
    height: 35px;
  }
}

/* Key class order is important as styles should over ride less correct styles. 
We should refrain from relying on this though. */

.key.incorrect {
  transition: background-color 0.5s ease;
  background-color: #787c7e;
  color: white;
}

.key.elsewhere {
  transition: background-color 0.5s ease;
  background-color: #c9b458;
  color: white;
}

.key.correct {
  transition: background-color 0.5s ease;
  background-color: #6aaa64;
  color: white;
}
