<div id="keyboard-container">
	<div id="keyboard">
		<div class="keyboard-row">
			<div class="key regular-width">q</div>
			<div class="key regular-width">w</div>
			<div class="key regular-width">e</div>
			<div class="key regular-width">r</div>
			<div class="key regular-width">t</div>
			<div class="key regular-width">y</div>
			<div class="key regular-width">u</div>
			<div class="key regular-width">i</div>
			<div class="key regular-width">o</div>
			<div class="key regular-width">p</div>
		</div>
		<div class="keyboard-row">
			<div class="spacer"></div>
			<div class="key regular-width">a</div>
			<div class="key regular-width">s</div>
			<div class="key regular-width">d</div>
			<div class="key regular-width">f</div>
			<div class="key regular-width">g</div>
			<div class="key regular-width">h</div>
			<div class="key regular-width">j</div>
			<div class="key regular-width">k</div>
			<div class="key regular-width">l</div>
			<div class="spacer"></div>
		</div>
		<div class="keyboard-row">
			<div class="key double-width" id="submit-button">Enter</div>
			<div class="key regular-width">z</div>
			<div class="key regular-width">x</div>
			<div class="key regular-width">c</div>
			<div class="key regular-width">v</div>
			<div class="key regular-width">b</div>
			<div class="key regular-width">n</div>
			<div class="key regular-width">m</div>
			<div class="key double-width" id="delete-button">
				<ion-icon name="backspace-outline"></ion-icon>
			</div>
		</div>
	</div>
</div>
